extends layout

block title
    title AIDE  &mdash; Air emIssions Data Explorer &mdash; European Environment Agency

block content
    div(id="portal-breadcrumbs")
        span(id="breadcrumbs-you-are-here") You are here: 
        span(id="breadcrumbs-home")
            a(href="http://www.eea.europa.eu/") Home
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-1")
            span(class="breadcrumbs-current")  Air emIssions Data Explorer

    h1 AIDE  &mdash; Air emIssions Data Explorer for Europe
    p Slice and dice air quality data. This application (AIDE) helps you explore european air quality aggregated data for compliance checks (following EC Decision 2011/850/EU).
    .facet-view-simple
