extends layout

block title
    title Air Immissions Data Explorer &mdash; European Environment Agency

block content
    div(id="portal-breadcrumbs")
        span(id="breadcrumbs-you-are-here") You are here: 
        span(id="breadcrumbs-home")
            a(href="http://www.eea.europa.eu/") Home
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-1")
            span(class="breadcrumbs-current")  Air Immissions Data Explorer

    h1 Air Immissions Data Explorer
    p description goes here
    .facet-view-simple
