block title
    title AIDE*  &mdash; AIr Data Explorer &mdash; European Environment Agency

block extrajavascripts
    script(type='text/javascript', src='javascripts/aide.facetview.js')

block extrastyles
    link(rel='stylesheet', href='css/no-more-tables.css')
    link(rel="stylesheet", href="css/aide.facetview.css")

block content
    div(id="portal-breadcrumbs")
        span(id="breadcrumbs-you-are-here") You are here: 
        span(id="breadcrumbs-home")
            a(href="http://www.eea.europa.eu/") Home
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-1")
            span(class="breadcrumbs-current")  Air emIssions Data Explorer

    h1 AIDE  &mdash; AIr Data Explorer for Europe
    p Slice and dice air quality data. This application (AIDE) helps you explore european air quality database for compliance checks (AQ e-Reporting following EC Decision 2011/850/EU). The EEA’s air quality database consists of a multi-annual time series of air quality measurement data and calculated statistics for a number of air pollutants.
    .facet-view-simple

    div(class="visualization-info")
        p AQ stands for 'Air Quality'
        p AIDE: "Aide was the Basque numenistic deity of the air. She could manifest herself in both good (gentle breeze) and evil (storm wind) forms." wikipedia.org
        h3 Data sources
        a(href="http://www.eea.europa.eu/data-and-maps/data/aqereporting") Air Quality e-Reporting
        span  provided by 
        a(href="http://www.eea.europa.eu") European Environment Agency (EEA)
